<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
styleSheet&attributes(namespaces)
  fonts(count=fonts.length + 1, "x14ac:knownFonts"="1")
    font
      sz(val="12")
      color(theme="1")
      name(val="Calibri")
      family(val="2")
      scheme(val="minor")
    each font in fonts
      font
        if font.bold
          b/
        if font.italic
          i/
        sz(val=font.size)
        name(val=font.name)
  fills(count=bgColors.length + 2)
    fill
      patternFill(patternType="none")
    fill
      patternFill(patternType="gray125")
    fill
      patternFill(patternType="solid")
        fgColor(rgb="FFD0D0D0")
    each bgColor in bgColors
      fill
        patternFill(patternType="solid")
          fgColor(rgb="FF#{bgColor}")/
  borders(count="2")
    border
      left/
      right/
      top/
      bottom/
      diagonal/
    border
      left(style="thin")
        color(rgb="FFDDDDDD")/
      right(style="thin")
        color(rgb="FFDDDDDD")/
      top(style="thin")
        color(rgb="FFDDDDDD")/
      bottom(style="thin")
        color(rgb="FFDDDDDD")/
      diagonal/
  cellStyleXfs(count="1")
    xf(borderId="0" fillId="0" fontId="0" numFmtId="0")/
  cellXfs(count=(2 * bgColors.length) + 3)
    xf(applyAlignment="1", applyBorder="1", applyFont="1", borderId="1", fontId="1", numFmtId="0", xfId="0")
      alignment(wrapText="1" horizontal="center")/
    xf(applyAlignment="1", applyBorder="1", applyFont="1", borderId="1", fontId="2", numFmtId="0", xfId="0")
      alignment(wrapText="1")/
    xf(applyAlignment="1", applyBorder="1", applyFont="1", borderId="1", fontId="3", numFmtId="0", xfId="0")
      alignment(wrapText="1")/
    xf(applyAlignment="1", applyBorder="1", applyFont="1", borderId="1", fontId="4", numFmtId="0", xfId="0")
      alignment(wrapText="1")/
    xf(applyAlignment="1", applyBorder="1", applyFill="1", applyFont="1", borderId="1", fillId="2", fontId="2", numFmtId="0", xfId="0")
      alignment(wrapText="1" horizontal="center")/
    each font, f in fonts
      if f > 0
        each bgColor, g in bgColors
          xf(applyAlignment="1", applyBorder="1", applyFill="1", applyFont="1", borderId="1", fillId=g+3, fontId=f+1, numFmtId="0", xfId="0")
            alignment(wrapText="1")/
  cellStyles(count="1")
    cellStyle(builtinId="0", name="Normal", xfId="0")/
  dxfs(count="0")/
  tableStyles(count="0", defaultPivotStyle="PivotStyleMedium4", defaultTableStyle="TableStyleMedium9")/
