<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
Relationships(xmlns=ns.relationships)
  each rel in relationships
    Relationship(Id=rel.id, Target=rel.target, Type=rel.type, TargetMode=rel.targetMode)/