extends ./xml.jade
include mixins/richTextStyle.jade

block content
  sst(count=count, uniqueCount=strings.length)&attributes(namespaces)
    each string in strings
      si
        if typeof string == 'string'
          t #{string}
        else if string && string.length
          each part, i in string
            - var spaceBounded = !!part.text.match(/^\s|\s$/)
            if part.style
              +richTextStyle(part.style, part.text)
            else if spaceBounded
              r
                t(xml:space='preserve') #{part.text}
            else
              r
                t #{part.text}
        else
          t/
