extends ./xml.jade
block content
  workbook&attributes(namespaces)
    sheets
      each sheet, i in sheets
        sheet(name=sheet.name r:id='rId'+sheet.rId, sheetId=sheet.id)/
    if hasDefinedNames
      definedNames
        each sheet, localId in sheets
          each definedName in sheet.definedNames
            definedName(localSheetId=localId, name=definedName.name) #{definedName.value}