extends ./xml.jade
block content
  workbook&attributes(namespaces)
    sheets
      each sheet, i in sheets
        sheet(name=sheet.name r:id='rId'+sheet.rId, sheetId=sheet.id)/
    if hasDefinedNames
      definedNames
          each definedName, name in definedNames
            definedName(localSheetId=definedName.id, name=name) #{definedName.value}